@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: #00a9cc;
}

html::-webkit-scrollbar-thumb{
    background: linear-gradient(#fff, #3a9d23);
    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
    transition: 0.7s ease-in-out;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
}
html::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#212b36, #3a9d23);
}

body{
    font-family: "Poppins", sans-serif;
    transition: all 0.7s ease-in;
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -ms-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
}

h1{
    font-family: "Fredoka One", sans-serif;
    letter-spacing: 5px;
    color: #00a9cc;
    font-size: 3rem;
}
@media (max-width: 1040px){
    h1{
        font-size: 2rem;
    }
}


/*=======NAVBAR=======*/
nav{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
    font-family: "Fredoka One", sans-serif;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    /*box-shadow: 0px -4px 10px #3a9d23;*/
}

nav .brand{
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
nav .brand i{
    color: #3a9d23;
}

nav ul{
    position: relative;
    display: flex;
}
nav ul li a{
    display: inline-block;
    margin-left: 14px;
    font-size: 1.1rem;
    letter-spacing: 3px;
    color: #fff;
    transition: 0.8s ease-in;
    -webkit-transition: 0.8s ease-in;
    -moz-transition: 0.8s ease-in;
    -ms-transition: 0.8s ease-in;
    -o-transition: 0.8s ease-in;
    font-weight: 300;
}
nav ul:hover li{
    opacity: .8;
	filter: blur(1px);
}
nav ul li:hover{
    opacity: 1;
	filter: blur(0px);
}
nav ul li a:hover{
    color: #3a9d23;
}

nav ul i{
    opacity: 0;
}
.active{
    color: #3a9d23;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
    transition: 0.7s ease-in;
    -webkit-transition: 0.7s ease-in;
    -moz-transition: 0.7s ease-in;
    -ms-transition: 0.7s ease-in;
    -o-transition: 0.7s ease-in;
}

#check{
display: none;
}

@media (max-width: 1040px){
    .checkbtn{
        display: block;
    }
    
    nav{
        padding: 16px 20px;
    }
    .active{
        color: #3a9d23;
    }
    nav ul {
        display: block;
        height: 100%;
        width: 250px;
        position: fixed;
        top: 0;
        left: -250px;
        background: rgba(0,127,153);
        color: #fff;
        text-align: center;
        flex-direction: column;
        transition: left 0.5s ease-in;
        padding: 20vh 0;
        overflow: hidden;
        -webkit-transition: left 0.5s ease-in;
        -moz-transition: left 0.5s ease-in;
        -ms-transition: left 0.5s ease-in;
        -o-transition: left 0.5s ease-in;
    }
    
    nav ul i{
        opacity: 1;
        padding-right: 10px;
        color: #fff;
        opacity: 0.7;
    }
    nav ul li a{
        color: #fff;
        display: block;
        width: 100%;
        padding: 16px 0;
        font-size: 25px;
    }
   
}
/*=======NAVBAR END=======*/


section{
    padding: 100px 200px;
}
.ukiyo{
    /*background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(img/bg.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
}
@media (max-width: 1040px){
    section{
        padding: 100px 20px;
    }
}


.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 127,153, 0.5)), url(img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
.hero .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    color: #fff;
    text-align: center;
}
.hero .content h1{
    font-size: 3rem;
    letter-spacing: 7px;
    color: #fff;
}
.hero .content p{
    font-size: 1.5rem;
    line-height: 1.7;
}
.hero .content p span{
    cursor: pointer;
    background: linear-gradient( #fff, #00a9cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Fredoka One", sans-serif;
    transition: 0.7s ease-in;
    -webkit-transition: 0.7s ease-in;
    -moz-transition: 0.7s ease-in;
    -ms-transition: 0.7s ease-in;
    -o-transition: 0.7s ease-in;
    font-size: 1.2rem;
    letter-spacing: 3px;
}
.hero .content p span:hover{
    color: #3a9d23;
}

.btn_hero{
    padding-top: 1.5rem;
}

.btn_hero .btn {
    padding: 8px 24px;
    color: #fff;
    background: #3a9d23;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 2px;
    background-image: -webkit-linear-gradient(30deg, #3a9d23 50%, transparent 50%);
    background-image: linear-gradient(30deg, #3a9d23 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
}
.btn_hero .btn:hover {
    background-position: 100%;
    background-color: #fff;
    color: #3a9d23;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
}


.scroll_down{
    position: absolute;
    right: 30px;
    bottom: 1.5rem;
}
.scroll_down a{
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-text-orientation: mixed;
    font-size: 0.7rem;
    font-weight: 100;
    color: white;
    transition: 0.7s ease-in;
    -webkit-transition: 0.7s ease-in;
    -moz-transition: 0.7s ease-in;
    -ms-transition: 0.7s ease-in;
    -o-transition: 0.7s ease-in;
    animation: down 2s ease infinite;
    -webkit-animation: down 2s ease infinite;
}
.scroll_down a:hover{
    color: #00a9cc;
    padding-bottom: 8px;
    animation-play-state: paused;
}
@keyframes down {
    0%{
        transform: translateY(20%);
        opacity: 0.8;
        -webkit-transform: translateY(20%);
        -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
        -o-transform: translateY(20%);
    }
    50%{
        transform: translateY(0%);
        opacity: 0.7;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    100%{
        transform: translateY(20%);
        opacity: 1;
        -webkit-transform: translateY(20%);
        -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
        -o-transform: translateY(20%);
    }
}



@media (max-width: 1040px){

    .hero .content{
        padding: 0 20px;
    }
    .hero .content h1{
        font-size: 2.5rem;
        letter-spacing: 5px;
    }
    .scroll_down{
        right: 15px;
        bottom: 5rem;
    }

}
@media (max-width: 600px){
    .hero .content h1{
        font-size: 1.8rem;
        letter-spacing: 2px;
    }
    .hero .content p, 
    .hero .content p span, 
    .media-icons a{
        font-size: 1rem;
    }
}



.slide{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #3a9d23;
    /*background: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    z-index: 999;
    overflow: hidden;
}



.about{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.about video, .contact video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
}
.gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2) !important;
  z-index: 2;
}
.contact-content, .about-content{
    position: relative;
    z-index: 3;
    height: auto;
}
.about .box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    text-align: start;
}
.about .box .text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    max-width: 100%;
    padding: 30px;
}
.about .box .text h1{
    color: #3a9d23;
    letter-spacing: 3px;
    font-size: 2rem;
}
.about .box .text p{
    padding-top: 10px;
    color: #212b36;
    line-height: 1.7;
}

.about .box .img{
    position: relative;
    width: 100%;
    max-height: 100%;
}
.about .box .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .7s ease-in;
    -webkit-transition: .7s ease-in;
    -moz-transition: .7s ease-in;
    -ms-transition: .7s ease-in;
    -o-transition: .7s ease-in;
}
.about .box .img:hover img {
    opacity: 1;
    animation: flash 2s;
    -webkit-animation: flash 2s;
}

.team{
    padding-top: 4rem;
    width: 100%;
    overflow: hidden;
}
.team .title{
    text-align: center;
}
.team .title p{
    font-size: 1.2rem;
    padding-top: 1rem;
    color: #fff;
}
.team-members{
    padding: 40px 0;
}
.team-members .content{
    overflow: hidden;
}
.team-members .cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-members .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    text-align: center;
    color: #3a9d23;
    padding: 25px 15px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.team-members .card .img{
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.team-members .card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.team-members .card .text{
    padding-top: 1rem;
}

.swiper-pagination-bullet{
    background-color: #3a9d23;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #00a9cc;
}

@media (max-width: 1040px){
    .about .box .text h1{
        font-size: 1.5rem;
    }
}
@media (max-width: 768px){
    .about .box{
        flex-wrap: wrap;
    }
}
@media (max-width: 600px){
    .about .box, .about .box .text{
        width: 100%;
    }
    .about .box .text h1{
        font-size: 1.2rem;
    }
}


.gallery{
    width: 100%;
    height: auto;
    position: relative;
    background: #fff;
    overflow: hidden;
}
.gallery .title{
    text-align: center;
}
.gallery .title p{
    line-height: 1.7;
    color: #212b36;
}

.gallery .items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    padding-top: 4rem;
    overflow: hidden;
}
.gallery .items .item{
    overflow-y: hidden;
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.gallery .items .item img{
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery .items .item:hover img {
    opacity: 1;
    animation: flash 2s;
    -webkit-animation: flash 2s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@media (max-width: 768px){
    .gallery .items{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 600px){
    .gallery .title p{
        font-size: 1rem;
    }
}


.contact{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.contact .title{
    text-align: center;
    z-index: 9;
}
.contact .title p{
    color: #fff;
    padding-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.contact form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
}
.input{
    display: flex;
    gap: 1.2rem;
}
.contact form input{
    width: 100%;
    margin:  10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: .1rem;
    background: transparent;
    outline: none;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
    color: #fff;
    font-size: 1.2rem;
    caret-color: #3a9d23;
    font-family: "Poppins", sans-serif;
}

form textarea{
    width: 100%;
    height: 150px;
    resize: none;
    margin:  10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #fff;
    background: transparent;
    outline: none;
    transition: 0.8s ease;
    margin-bottom: 1rem;
    border-radius: .1rem;
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -ms-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
    color: #fff;
    font-size: 1.2rem;
    caret-color: #3a9d23;
    font-family: "Poppins", sans-serif;
}
form textarea::placeholder, input::placeholder{
    color: #00a9cc;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}

form .btn{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

form button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 90px;
    color: #fff;
    background: #3a9d23;
    border-radius: 0.1rem;
    color: #fff;
    font-size: 1.2rem;
    font-family: "Fredoka One", sans-serif;
    letter-spacing: 3px;
    background-image: -webkit-linear-gradient(30deg, #3a9d23 50%, transparent 50%);
    background-image: linear-gradient(30deg, #3a9d23 50%, transparent 50%);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: background 300ms ease-in-out;
    -webkit-transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
}
form button:hover {
    background-position: 100%;
    background-color: #fff;
    color: #3a9d23;
    transition: 0.7s ease-in;
    -webkit-transition: 0.7s ease-in;
    -moz-transition: 0.7s ease-in;
    -ms-transition: 0.7s ease-in;
    -o-transition: 0.7s ease-in;
}


.medias{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;
}
.medias ul{
    display: flex;
    position: relative;
}

.medias ul li a{
    display: flex;
    margin-left: 25px;
    font-size: 1.8rem;
    color: #fff;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.medias a:hover{
    color: #00a9cc;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.medias ul:hover a:not(:hover){
    opacity: 0.5;
}
.credit{
    padding-top: 0.5rem;
}
.credit p{
    text-align: center;
    color: #fff;
    font-size: 1.12rem;
    padding-top: 1rem;
}
.credit p .developer a{
    color: #00a9cc;
    font-weight: 500;
    transition: 0.7s ease-in;
    -webkit-transition: 0.7s ease-in;
    -moz-transition: 0.7s ease-in;
    -ms-transition: 0.7s ease-in;
    -o-transition: 0.7s ease-in;
}
.credit p .developer a:hover{
    text-decoration: 1px underline #fff;
}

@media (max-width: 1040px){
    .contact form{
        padding: 0px;
    }
    .medias{
        padding: 30px 0;
    }
}
@media (max-width: 768px){
    form button{
        padding: 8px 80px;
    }
}
@media (max-width: 600px){
    form button{
        padding: 8px 50px;
    }
    .input{
        flex-direction: column;
    }
    .medias ul li a{
        font-size: 1.3rem;
    }
}
@media (max-width: 425px){
    form button{
        padding: 8px 10px;
    }
}



